section {
    text-align: center;
}

.contacto {
    padding: 10px;
    width: 80%;
    margin: auto;           
}

.item {
    width: 50%;
    float: left;
}

.item form{
    padding: 100px;
    margin: auto;
}

.form-section {
    padding: 20px;    
}
