* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    color: rgb(255, 140, 50);
}

p,a {
    color: rgb(6, 17, 60);
}

/* header */
header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
    overflow: hidden;
    width: 100%;
}

.headerIndex {
    overflow: hidden;
    position: fixed;
    top: 0;
}

.logo-header a img {
    width: 60%;
}

.logo-header a img:hover {
    opacity: 90%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0.8rem;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    color: rgb(128, 128, 128);
}

/* footer */
footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    background-color: rgb(221, 221, 221);
}

.linksFooter {
    font-size: 90%;
}

.linksFooter:hover {
    color: rgb(128, 128, 128);
}

/* left */
.contacto-footer {
    display: flex;
    align-items: center;
}

.contacto-footer a {
    text-decoration: none;
    padding-left: 1rem;
}

.contacto-footer ul li {
    list-style: none;
}


/* center */
.enlace-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.enlace-footer img {
    width: 60%;
}

.enlace-footer img:hover {
    opacity: 90%;
}

/* rigth */
.redes-footer {
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
}

.redes-footer p {
    text-align: center;
}

.redes-footer ul {
    list-style-type: none;
}

.redes-footer ul li {
    display: inline;
}

.redes-footer ul li a {
    text-decoration: none;
    padding-left: 1rem;
}

/* index */
.banner,
.main-index {
    text-align: center;
}

/* copiado */
/* .bannerBackgroundImagen {
    left: 0;
    background-image: url("../assets/img/banners/8eddaf2c-ea26-46b5-8248-2c3886097316.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner__scroll_button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.banner__scroll_button a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    color: #0B2027;
    letter-spacing: .1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.banner__scroll_button a span {
    position: absolute;
    top: 0;
    width: 46px;
    height: 46px;
    border: 1px solid #0B2027;
    border-radius: 100%;
    box-sizing: border-box;
}

.banner__scroll_button a span::after {
    position: absolute;
    top: 10px;
    left: 14px;
    content: '';
    width: 16px;
    height: 16px;
    border-left: 1px solid #0B2027;
    border-bottom: 1px solid #0B2027;
    transform: rotate(-45deg);
} */
/* copiado */

.banner-index {
    width: 100%;
    top: -3rem;
    /* height: 100vh; */ /* ocupa el 100% de la pag */
}

.main-index {
    margin: auto;
    padding: 1rem;
    width: 80%;
}

.tituloMainIndex {
    font-size: 5rem;
    border-top: solid 1px;
}

.subtituloMainIndex {
    font-size:2rem;
    color: rgb(220, 140, 50);
}

.main-index article {
    display: flex;
    padding: 2rem 0;
}

.textoArticulo {
    background-color: rgb(221, 221, 221);
    border-radius: 0.7rem;
}

.textoArticulo h2 {
    padding: 1rem;
}

.textoArticulo p {
    padding: 1rem;
}

.main-index .articulo div {
    padding: 0 1rem;
    margin: auto;
    text-align: justify;
}

.itemArticulo img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.7rem;
}

.articulo--invertido {
    flex-direction: row-reverse;
}

.enlanceProductosMainIndex {
    padding: 0 0 2rem 0;
    
}

.enlanceProductosMainIndex a{
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    border-radius: 0.7rem;
    background-color: rgb(221, 221, 221);
    
}

.enlanceProductosMainIndex a:hover {
    color: rgb(128, 128, 128);
}

/* productos */

.banner-productos {
    text-align: center;
    padding: 1rem 0;
}

.banner-productos img {
    width: 70%;
}

.container-productos h1 {
    font-size: 5rem;
    margin: auto;
}

.cuadro {
    max-width: 300px;
    max-height: 300px;
}

.container-productos {
    text-align: center;
}

.fila-productos {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.producto div {
    border: 1px solid black;
}

.box-cuadro {
    margin: 1rem;
}

/* contacto */

/* FAQs */

/* tutorial */
.titulo-tutorial {
    text-align: center;
    padding-top: 2rem;
}

.main-tutorial {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.main-tutorial article {
    padding: 1rem 0;
}

.video-tutorial {
    text-align: center;
}

.video-tutorial iframe {
    width: 720px;
    height: 480px;
}