/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASES GENERALES */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

h1,
a {
    color: rgb(26, 60, 64);
    /* important porque bootsrap cambia las etiquetas a ¿? */
}

h2,
h3 {
    color: rgb(29, 92, 99);
}

p {
    color: rgb(65, 125, 122);
}

/* clase general para todos los links */
.link__hover:hover {
    color: rgb(128, 128, 128);
}

a {
    font-weight: bold;
}

/* CLASES GENERALES */

/* header */
.header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.3rem 0;
    /* fondo temporal, no es estetico (quiero hacerlo transparente y al bajar tome un color */
    background-color: rgb(237, 230, 219);
}

.header__index {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* header por encima de toda la pagina */
    /* cambia por el background */
    background-color: rgba(0, 0, 0, 0);
}

.header--scroll {
    background-color: rgb(237, 230, 219);
}

.header__img {
    width: 15%;
}

.header__img:hover {
    opacity: 90%;
}

.nav__items li {
    list-style: none;
    display: inline-block;
    margin: 0 0.6rem;
}

.nav__item a {
    text-decoration: none;
}

.nav__item:hover {
    transform: scale(110%);
}

/* footer grid */

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: rgb(237, 230, 219);
    margin: auto;
    padding: 0.3rem 0;
}

.footer__contacto,
.footer__logo,
.footer__redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__contacto a {
    text-decoration: none;
    padding-left: 1rem;
    color: rgb(65, 125, 122);
}

.contacto__item a {
    color: rgb(26, 60, 64);
}

.contacto__item {
    list-style: none;
}

.contacto__titulo {
    text-decoration-style: none;
}

.footer__logo img {
    width: 25%;
}

.footer__logo--img:hover {
    opacity: 90%;
}

.redes__link {
    display: inline;
}

.redes__link a {
    text-decoration: none;
    margin-left: 1rem;
}

/* index */
/* banner responsive */
.banner__img {
    background-image: url(../assets/img/index/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__index {
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 80%;
}

.main__titulo {
    font-size: 5rem;
    border-top: solid 1px;
}

.main__subtitulo {
    font-size: 2rem;
}

.main__articulo {
    display: flex;
    padding: 1rem 0;
}

.articulo__texto {
    background-color: rgb(221, 221, 221);
}

.articulo__texto h2,
.articulo__texto p {
    padding: 1rem;
    text-align: justify;
}

.articulo__item {
    padding: 0 1.5rem;
    margin: auto;
    border-radius: 0.7rem;
}

.articulo__img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.7rem;
    box-shadow: 1rem 1rem 1rem rgb(221, 221, 221);
    filter: brightness(95%);
}

.articulo__img:hover {
    filter: brightness(100%);
}

.articulo__invertido {
    flex-direction: row-reverse;
}

.main__boton {
    padding: 1rem;

}

.boton__link {
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    border-radius: 0.7rem;
    background-color: rgb(221, 221, 221);

}

@media (max-width: 1024px) {
    .main__index {
        width: 90%;
    }

    .main__articulo {
        flex-direction: column;
    }

    .articulo__texto {
        margin-bottom: 2rem;
    }

    .articulo__img {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 768px) {
    .main__index {
        width: 90%;
    }

    .main__titulo {
        font-size: 3rem;
        border-top: solid 1px;
    }

    .main__subtitulo {
        font-size: 2rem;
    }

    .main__articulo {
        flex-direction: column;
    }

    .articulo__texto {
        margin-bottom: 2rem;
    }

    .articulo__img {
        max-width: 300px;
        max-height: 300px;
    }

    .articulo__texto h2,
    .articulo__texto p {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .main__index {
        width: 95%;
    }

    .articulo__img {
        max-width: 250px;
        max-height: 250px;
    }
}

@media (max-width: 320px) {
    .main__index {
        width: 95%;
    }

    .articulo__img {
        max-width: 200px;
        max-height: 200px;
    }
}

/* productos */
.banner__productos {
    display: flex;
    justify-content: center;
}

.banner__productos img {
    width: 85%;
}

#contenedor__grilla {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grilla__productos {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    align-items: center;
}

/* @media (max-width: 768px) {
    #grilla__productos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
}

@media (max-width: 480px) {
    #grilla__productos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
    }
} */

.producto__contenedor {
    text-align: center;
}

.producto__item {
    border-radius: 0.7rem;
    width: 250px;
    height: 300px;
    object-fit: cover;
    filter: brightness(80%);
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(221, 221, 221);
}

.producto__item:hover {
    filter: brightness(100%);
}

.producto__contenedor:hover {
    transform: scale(120%);
}

/* contacto */
.section__contacto h1 {
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
}

.contacto__contenedor {
    margin: auto;
    width: 80%;
    padding-bottom: 2rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.contenedor__articulo {
    width: 70%;
}

.contenedor__formulario {
    display: flex;
    justify-content: center;
    width: 30%;
}


.contenedor__articulo,
.contenedor__formulario {
    padding: 0 1rem;
    text-align: center;
}

.contenedor__articulo--item {
    padding: 1rem 0;
}

.contenedor__artiuculo--texto p {
    text-align: justify;
}

.contenedor__articulo--img img {
    width: 50%;
    height: 80%;
}

/* formulario de contacto */
.formulario {
    width: 100%;
}

.formulario h3 {
    font-size: 1.5rem;
}

.formulario__items {
    padding: 1rem 0;
}

.formulario__item {
    width: 80%;
    height: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    font-family: 'Roboto';
}

.formulario__item--consulta {
    width: 90%;
    height: 200px;
    padding: 0.5rem 1rem;
    resize: none;
    border-radius: 0.3rem;
    font-family: 'Roboto';
}

.formulario__item--boton {
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto';
    font-size: x-large;
}

/* FAQs */
.section__faqs {
    text-align: center;
    padding-top: 1rem;

}

.section__faqs img {
    border-radius: 1rem;
    width: 70%;
    box-shadow: 1rem 1rem 1rem rgb(221, 221, 221);
}

.main__faqs {
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.main__faqs--titulo {
    text-align: center;
    padding-bottom: 1rem;
}

.faqs__articulo {
    padding: 1rem;
}

.articulo__item p {
    padding: 1rem 2rem;
    text-align: justify;
}

.faqs__enlace {
    text-align: center;
    padding-top: 1rem;

}

.faqs__enlace a {
    /* idem a boton "ver mas" de index */
    text-decoration: none;
    font-size: x-large;
    padding: 0.8rem;
    border-radius: 0.7rem;
    background-color: rgb(221, 221, 221);
}

/* tutorial */
.tutorial__titulo {
    text-align: center;
    padding: 2rem;
    background-image: url(../assets/img/tutorial/fondo\ titulo.jpg);
    background-size: cover;
    background-position: center center;
}

.tutorial__titulo--contenedor {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.7rem;
    display: inline-block;
    padding: 1rem;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0);
}

.tutorial__titulo--contenedor h1 {
    color: rgb(50, 152, 163);
}

.tutorial__titulo--contenedor h2 {
    color: rgb(41, 120, 129);
}

.main__tutorial {
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.tutorial--texto--parrafo {
    padding: 1rem 2rem;
    text-align: justify;
}

.articulo__tutorial--video {
    text-align: center;
    padding: 1rem;
}

.articulo__tutorial--video iframe {
    width: 720px;
    height: 480px;
}