$background-body: rgb(254, 251, 231);
$color-principal: rgb(26, 60, 64);
$color-secundario: rgb(29, 92, 99);
$color-parrafos: rgb(65, 125, 122);
$color-nav-footer: rgb(249, 235, 200);
$color-texto-banner: rgb(237, 230, 219);