@import '../variables/colors';

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-body;
}

/* CLASES GENERALES */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
span,
button {
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

h1,
a {
    color: $color-principal;
}

h2,
h3,
span {
    color: $color-secundario
}

p {
    color: $color-parrafos;
}

/* clase general para todos los links */
.link__hover:hover {
    color: rgb(128, 128, 128);
}

a {
    font-weight: bold;
}

/* Ocultar banner botom 000webhostapp */
.disclaimer {
    display: none;
}