@import '../variables/colors';

/* FAQs */
.section__carousel {
    width: 80%;
    margin: auto;
    margin-top: 3.7rem;
    filter: brightness(0.9);
}

.main__faqs--titulo {
    text-align: center;
    padding-bottom: 1rem;
}

.accordion {
    width: 80%;
}

.accordion-body p {
    a {
    text-decoration: none;
    color: $color-secundario;
    }

    span {
        font-weight: bold;
    }
}

.accordion-button:focus {
    border-color: $color-secundario;
    box-shadow: inset 0 0 0 0.25rem rgba(29, 92, 99, 0.5)
}

.accordion-button:not(.collapsed) {
    color: $color-secundario;
    background-color: #dddddd;
}

@import 'mq';