/* FAQs */
.section__carousel {
    width: 90%;
    margin: auto;
    margin-top: 3.7rem;
}

.main__faqs--titulo {
    text-align: center;
    padding-bottom: 1rem;
}

.accordion {
    width: 80%;
}

@import 'mq';