@import '../variables/colors';

$color-redes: (      
    facebook:  rgb(59, 89, 152),
    instagram: rgb(221, 42, 123),
    whatsapp: rgb(0, 187, 45)
); 

/* FAQs */
.section__carousel {
    width: 80%;
    margin: auto;
    margin-top: 3.7rem;
    filter: brightness(0.9);
}

.main__faqs--titulo {
    text-align: center;
    padding-bottom: 1rem;
}

.accordion {
    width: 80%;
}

.accordion-body p {
    a {
    text-decoration: none;
    }

    span {
        font-weight: bold;
    }
}

@each $red, $color in $color-redes {
    .link-#{$red} {
        color: $color;
    }
}

.accordion-button:focus {
    border-color: $color-secundario;
    box-shadow: inset 0 0 0 0.25rem rgba(29, 92, 99, 0.5)
}

.accordion-button:not(.collapsed) {
    color: $color-secundario;
    background-color: #dddddd;
}

@import 'mq';