.banner__productos {
    display: flex;
    background-image: url(../assets/img/productos/banner/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-basis: 100%;
    height: 100vh;
    div {
        background-color: rgba(0, 0, 0, 0.267);
    }
}

.banner__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
        color: rgb(237, 230, 219);
        text-align: center;
    }
    p {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 1rem;
        color: rgb(237, 230, 219)
    }
}

.productos__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    img {
        width: 100%;
        display: block;
    }
}