.main__index {
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 80%;
}

.main__titulo {
    font-size: 5rem;
    border-top: solid 1px;
}

.main__subtitulo {
    font-size: 2rem;
}

.main__articulo {
    display: flex;
    padding: 1rem 0;
}

.articulo__texto {
    background-color: rgb(218, 229, 208);
    h2 {
        padding-top: 1rem;
        text-align: justify;
    }
    p {
        padding: 1rem;
        text-align: justify;
    }
}

.articulo__item {
    padding: 0 1.5rem;
    margin: auto;
    border-radius: 0.7rem;
}

.articulo__img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0.7rem;
    box-shadow: 1rem 1rem 1rem rgb(221, 221, 221);
    filter: brightness(95%);
}

.articulo__img:hover {
    filter: brightness(100%);
}

.articulo__invertido {
    flex-direction: row-reverse;
}