@import '../maps/border-radius';

.main__titulo {
    font-size: 5rem;
    border-top: solid 1px;
    text-align: center;
}

.main_subtitulo {
    font-size: 2rem;
    text-align: center;
}

.texto {
    border-radius: 1rem;
    background-color: rgb(218, 229, 208);
    height: fit-content;
    margin: auto;
    padding: 1rem;
    p {
        text-align: justify;
        padding-left: 20px;
    }
}

.fila__index {
    padding-bottom: 10px;
    margin: 0 10px;
}

.articulo_item {
    padding: 15px 0;
    margin-top: 10px;
    overflow-x: hidden;
    z-index: 1;
}

.img__index {
    max-width: 300px;
    max-height: 300px;
    border-radius: map-get($border-radius, borde-circular);
    box-shadow: 1rem 1rem 1rem rgb(221, 221, 221);
    filter: brightness(95%);
    transition: .2s;
    &:hover {
        filter: brightness(100%);
        transform: scale(105%);
    }
}