$rectangulo-color: rgb(29, 92, 99);

@media (max-width: 1024px) {
    .banner__titulo a {
        font-size: 4rem;
    }
}

@media (max-width: 992px) {
    .texto {
        h2 {
            text-align: center;
        }

        p {
            padding-left: 0;
        }
    }

    .img__index {
        filter: brightness(100%);

        &:hover {
            transform: scale(100%);
        }
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: url(../assets/img/index/banner-index-mobile.jpg);
    }

    .banner__titulo a {
        width: 80%;
        text-align: center;
        border: 0px;
    }

    .banner__titulo a:before,
    .banner__titulo a:after {
        border: 10px solid $rectangulo-color;
    }

    .main__titulo {
        font-size: 3rem;
        border-top: solid 1px;
    }

    .main_subtitulo {
        font-size: 2rem;
    }
}

@media (max-width: 490px) {
    .banner__titulo a {
        font-size: 3rem;
    }

    .main__titulo {
        font-size: 2rem;
    }

    .main_subtitulo {
        font-size: 1.5rem;
    }

    .texto h2 {
        font-size: 1.5rem;
    }

    .boton__link {
        font-size: 1rem;
    }
}

@media (max-width: 360px) {

    .banner__titulo a:before,
    .banner__titulo a:after {
        padding: 3.9rem .7rem;
        border: 7px solid $rectangulo-color;
    }

    .main__titulo {
        font-size: 1.5rem;
    }

    .main_subtitulo {
        font-size: 1rem;
    }

    .texto h2 {
        font-size: 1.3rem;
    }

    .boton__link {
        font-size: 0.7rem;
    }
}

/* Para resoluciones demasiado angostas (Galaxy Fold) */
@media (max-width: 290px) {
    .img__index {
        max-width: 250px;
        max-height: 250px;
    }

    .boton__animado {
        padding: .7em;
    }
}